<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
			<ion-back-button color="pz"></ion-back-button>
		</ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="pz" (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">HighScore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-text color="pz">
  <p>
    <i>Top 11</i>
  </p>
</ion-text>
<ion-grid>
  <ion-row>
    <ion-col size="8"><b>Naam</b></ion-col>
    <ion-col size="4"><b>Punten</b></ion-col>
    <!-- <ion-col>Uren</ion-col> -->
  </ion-row>
  <ion-row *ngFor="let highscore of highScores">
    <ion-col size="8">{{highscore.name}}</ion-col>
    <ion-col size="4">{{highscore.points | number:'0.0-0'}}</ion-col>
    <!-- <ion-col>{{highscore.hours | number:'0.0-0'}}</ion-col> -->
  </ion-row>

</ion-grid>

</ion-content>
