<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <ion-text color="primary">
      <h2>{{initialText}}</h2>
    </ion-text>
    
  </ion-slide>
  <ion-slide>
    <ion-text color="secondary">
      <h2>{{fullname}}</h2>
    </ion-text>
  </ion-slide>
  <ion-slide>
    <ion-text color="secondary">
      <h2>{{tipText}}</h2>
    </ion-text>
  </ion-slide>

</ion-slides>
<form [formGroup]="closeOpeningForm" (ngSubmit)="closeOpening()">
  <ion-item>
    <ion-label position="stacked">Naam</ion-label>
    <ion-input formControlName="alias"></ion-input>
  </ion-item>
  <ion-button type="submit">verder</ion-button>
</form>