<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <ion-text color="pz">
      <h2>{{initialText}}</h2>
    </ion-text>
    
  </ion-slide>
  <ion-slide>
    <ion-text color="pz">
      <h1>{{fullname}}</h1>
    </ion-text>
  </ion-slide>
  <ion-slide>
    <ion-text color="pz">
      <h2>{{tipText}}</h2>
    </ion-text>
  </ion-slide>

</ion-slides>
<p>
  <i>Geef je TamaPezerik een naam.</i>
</p>
<form [formGroup]="closeOpeningForm" (ngSubmit)="closeOpening($event)">
  <ion-item>
    <ion-label position="stacked">Naam</ion-label>
    <ion-input formControlName="alias"></ion-input>
  </ion-item>
  <ion-button type="submit">verder</ion-button>
</form>