<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>
  De TamaPezerik van de Pezerikken.
</p>
<p>
  Verzorg je eigen TamaPezerik met carnaval. Geeft um veel aandacht, want dat hebben ze nodig. <br>
</p>
<p>
  TamaPezerik in 3 stappen:
</p>
<ol type="1">
  <li>Open het eitje</li>
  <li>Geef de TamaPezerik een naam</li>
  <li>Verzorg je TamaPezerik</li>
</ol>
<p>
  Er zijn 5 categorieen: Eten, Drinken, Gezeligheid, Gezondheid en Pezerik. Geef ze regelmatig iets, maar rust kunnen ze ook gebruiken.<br/>
  Kijk bij de statistieken om te zien hoe het gaat met je TamaPezerik.
</p>
<p>
  Gebruik je telefoonnummer om op verschillende apparaten je TamaPezerik te verzorgen. 
</p>
<p showWhen="android">
  Voeg je TamaPezerik toe aan je startscherm!<br>
  Via menu (rechtsboven) en dan 'toevoegen aan startscherm'
</p>
<p showWhen="ios">
  Voeg je TamaPezerik toe aan je startscherm!<br>
  Onderaan in het scherm middelste knop, en dan toevoegen aan startscherm.
</p>
<p>
  Volg de Pezerikken via <a href="//facebook.com/beeksecarnaval.depezerikken" target="_blank">Facebook</a>, <a href="//instagram.com/depezerikken" target="_blank">Instagram</a>
</p>
<p>
  <i>De TamaPezerik is tot stand gekomen met en door de RvXI.</i>
</p>

</ion-content>
