<div class="character-container">
  <div class="stats">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-align-self-start stats-left">{{points | async | number:'0.0-0'}} punten</ion-col>
        <ion-col class="ion-align-self-end stats-right">{{hours | async | number:'0.0-0'}} {{(hours | async) > 1 ? 'uren' : 'uur'}} </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <app-messagepopover *ngIf="message | async" (closePopup)="closeMessage()" [message]="(message | async).text"></app-messagepopover>
  <ion-img [class.character-message-in]="showmessagein" [class.character-message-out]="showmessageout"  [src]="imgurl"></ion-img>
</div>
<div class="fullname">
  {{fullname}}
</div>
 <!-- fab placed to the bottom end -->

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="itemsModal()">
    <ion-icon name="apps-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab vertical="bottom" horizontal="end"  slot="fixed">
  <ion-fab-button>
    <ion-icon name="settings"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="statsModal()">
      <ion-icon name="stats-chart-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="killEgg()">
      <ion-icon name="skull-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="randomMessage()">
      <ion-icon name="flower-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
<div class="item-overlay" [class.out]="itemout" *ngIf="itemUrl">
  <ion-img [src]="itemUrl"></ion-img>
</div>