<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- ion-menu-button auto-hide="false"></ion-menu-button -->
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="large" class="ion-text-center">
      TamaPezerik
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="false" [scrollY]="false" [scrollX]="false"> 
  <div id="container">
    <app-tamagotchi></app-tamagotchi>
  </div>
</ion-content>


