<ng-container *ngIf="!eggLoading;else loading">
    <app-egg *ngIf="eggStatus == EggStadia.New" (openEgg)="openEgg($event)"></app-egg>
    <app-egg *ngIf="eggStatus == EggStadia.DeadConfirmed" (openEgg)="openEgg($event)"></app-egg>
    <app-intro *ngIf="eggStatus == EggStadia.Opening"></app-intro>
    <app-character *ngIf="eggStatus == EggStadia.Alive"></app-character>
    <app-dead *ngIf="eggStatus == EggStadia.Dead" ></app-dead>
</ng-container>
<ng-template #loading>

    <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
                <ion-spinner class="loading-spinner" name="circles"></ion-spinner>
                Laden....
        </ion-row>
     </ion-grid>
</ng-template>